<a href="https://colab.research.google.com/github/Iqbalnm786/DATA-SCIENCE-PANDAS-NUMPY-MATPLOTLIB-/blob/main/store.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***`store_orders.csv`***

In [2]:
import pandas as pd
df=pd.read_csv("/content/store_orders - pandas 3.csv")
df.head()

,Order_ID,Customer_Name,Product,Category,Quantity,Price,Order_Date,City
0,1001,Priya,Laptop,Electronics,1,55000,2024-05-14,Delhi
1,1002,Arjun,Shoes,Fashion,2,2500,2024-05-16,Mumbai
2,1003,Simran,Mobile,Electronics,1,30000,2024-05-18,Chennai
3,1004,Kabir,Watch,Accessories,3,1500,2024-05-18,Delhi
4,1005,Arjun,Laptop Bag,Accessories,1,800,2024-05-20,Pune

In [4]:
# Load the dataset and convert Order_Date to datetime.
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
df

,Order_ID,Customer_Name,Product,Category,Quantity,Price,Order_Date,City
0,1001,Priya,Laptop,Electronics,1,55000,2024-05-14,Delhi
1,1002,Arjun,Shoes,Fashion,2,2500,2024-05-16,Mumbai
2,1003,Simran,Mobile,Electronics,1,30000,2024-05-18,Chennai
3,1004,Kabir,Watch,Accessories,3,1500,2024-05-18,Delhi
4,1005,Arjun,Laptop Bag,Accessories,1,800,2024-05-20,Pune
5,1006,Priya,Mobile,Electronics,1,29000,2024-05-22,Delhi

In [15]:
# Create a new column "Total_Amount" = Quantity Ã— Price
df['Total_Amount']=df['Quantity']*df['Price']
df

,Order_ID,Customer_Name,Product,Category,Quantity,Price,Order_Date,City,Total_Amount
0,1001,Priya,Laptop,Electronics,1,55000,2024-05-14,Delhi,55000
1,1002,Arjun,Shoes,Fashion,2,2500,2024-05-16,Mumbai,5000
2,1003,Simran,Mobile,Electronics,1,30000,2024-05-18,Chennai,30000
3,1004,Kabir,Watch,Accessories,3,1500,2024-05-18,Delhi,4500
4,1005,Arjun,Laptop Bag,Accessories,1,800,2024-05-20,Pune,800
5,1006,Priya,Mobile,Electronics,1,29000,2024-05-22,Delhi,29000

In [23]:
# Identify top 3 highest-value orders.

df.groupby('Order_ID')['Price'].max().sort_values(ascending=False).head(3)

Order_ID
1001    55000
1003    30000
1006    29000
Name: Price, dtype: int64

In [28]:
#Group by Category and show total revenue.

df.groupby('Category')['Total_Amount'].sum()

Category
Accessories      5300
Electronics    114000
Fashion          5000
Name: Total_Amount, dtype: int64

In [30]:
# Group by City and find number of orders from each city.


df.groupby('City')['Order_ID'].count()

City
Chennai    1
Delhi      3
Mumbai     1
Pune       1
Name: Order_ID, dtype: int64

In [42]:
# Find which customer spent the most money overall.

df.groupby("Customer_Name")["Total_Amount"].sum().sort_values(ascending=False).head(1)

Customer_Name
Priya    84000
Name: Total_Amount, dtype: int64

In [47]:
# Extract all orders during May 2024 (using query / datetime filtering)
df.query("Order_Date>='2024-05-01' and Order_Date<='2024-05-31'")

,Order_ID,Customer_Name,Product,Category,Quantity,Price,Order_Date,City,Total_Amount
0,1001,Priya,Laptop,Electronics,1,55000,2024-05-14,Delhi,55000
1,1002,Arjun,Shoes,Fashion,2,2500,2024-05-16,Mumbai,5000
2,1003,Simran,Mobile,Electronics,1,30000,2024-05-18,Chennai,30000
3,1004,Kabir,Watch,Accessories,3,1500,2024-05-18,Delhi,4500
4,1005,Arjun,Laptop Bag,Accessories,1,800,2024-05-20,Pune,800
5,1006,Priya,Mobile,Electronics,1,29000,2024-05-22,Delhi,29000

In [50]:
# Detect and remove duplicate orders (if any).

df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [51]:
#Find revenue trend per day (daily sales).
df.groupby("Order_Date")['Total_Amount'].sum()

Order_Date
2024-05-14    55000
2024-05-16     5000
2024-05-18    34500
2024-05-20      800
2024-05-22    29000
Name: Total_Amount, dtype: int64

In [53]:
# Add a column:
# If Total_Amount > 20,000 â†’ "High Value"
# else â†’ "Normal"

df['status']=df['Total_Amount'].apply(lambda x: 'High Value' if x >20000 else 'Normal')
df

,Order_ID,Customer_Name,Product,Category,Quantity,Price,Order_Date,City,Total_Amount,status
0,1001,Priya,Laptop,Electronics,1,55000,2024-05-14,Delhi,55000,High Value
1,1002,Arjun,Shoes,Fashion,2,2500,2024-05-16,Mumbai,5000,Normal
2,1003,Simran,Mobile,Electronics,1,30000,2024-05-18,Chennai,30000,High Value
3,1004,Kabir,Watch,Accessories,3,1500,2024-05-18,Delhi,4500,Normal
4,1005,Arjun,Laptop Bag,Accessories,1,800,2024-05-20,Pune,800,Normal
5,1006,Priya,Mobile,Electronics,1,29000,2024-05-22,Delhi,29000,High Value